openapi: 3.0.2
info:
  version: 1.0.0
  title: PeUD REST API
  termsOfService: 'https://example.com/terms/'
  contact:
    email: nick@cajun.pro
    url: 'https://github.com/DirtyCajunRice/PeUD'
  license:
    name: MIT License
    url: 'https://github.com/DirtyCajunRice/PeUD-Docs/blob/master/LICENSE'
#  x-logo:
#    url: 'https://redocly.github.io/openapi-template/logo.png'
  description: >
    This is the PeUD REST API

    # Introduction

    TBD
servers:
  - url: 'http://api.peud.io'
paths:
  /version:
    $ref: paths/version.yaml
  '/users/{service}':
    $ref: paths/users@{service}.yaml
  '/users/{service}/{id}':
    $ref: paths/users@{service}@{id}.yaml
components:
  schemas:
    plexUser:
      $ref: components/schemas/plex/user.yaml
    tautulliUser:
      $ref: components/schemas/tautulli/user.yaml
#    ombiUser:
#      $ref: components/schemas/ombiUser.yaml
    organizrUser:
      $ref: components/schemas/organizr/user.yaml
  securitySchemes:
    plex_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://api.peud.io/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
tags:
  - name: User
    description: Operations about user
  - name: peud_user_model
    x-displayName: The PeUD User Model
    description: |
      This is the PeUD User model
      <SchemaDefinition schemaRef="#/components/schemas/plexUser" />
  - name: plex_user_model
    x-displayName: The Plex User Model
    description: |
      This is the Plex User model as it is given to us by Plex
      <SchemaDefinition schemaRef="#/components/schemas/plexUser"/>
  - name: tautulli_user_model
    x-displayName: The Tautulli User Model
    description: |
      This is the Tautulli User model as it is given to us by Tautulli
      <SchemaDefinition schemaRef="#/components/schemas/tautulliUser" />
  - name: organizr_user_model
    x-displayName: The Organizr User Model
    description: |
      This is the Organizr User model as it is given to us by Organizr
      <SchemaDefinition schemaRef="#/components/schemas/organizrUser" />
#  - name: ombi_user_model
#    x-displayName: The Ombi User Model
#    description: |
#      This is the Ombi User model... not even close to what we are given by ombi. (more info later)
#      <SchemaDefinition schemaRef="#/components/schemas/ombiUser" />
x-tagGroups:
  - name: General
    tags:
      - information
  - name: User Management
    tags:
      - user
  - name: Models
    tags:
      - peud_user_model
      - plex_user_model
      - tautulli_user_model
      - ombi_user_model
      - organizr_user_model