openapi: 3.0.2
info:
  version: 1.0.0
  title: PeUD REST API
  termsOfService: 'https://example.com/terms/'
  contact:
    email: contact@example.com
    url: 'http://example.com/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
#  x-logo:
#    url: 'https://redocly.github.io/openapi-template/logo.png'
  description: >
    This is an **example** API to demonstrate features of OpenAPI specification

    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in 

    [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).

    It also demonstrates features of
    [create-openapi-repo](https://github.com/Redocly/create-openapi-repo) tool
    and 

    [Redoc](https://github.com/Redocly/Redoc) documentation engine. So beyond
    the standard OpenAPI syntax we use a few 

    [vendor
    extensions](https://github.com/Redocly/Redoc/blob/master/docs/redoc-vendor-extensions.md).


    # OpenAPI Specification

    The goal of The OpenAPI Specification is to define a standard,
    language-agnostic interface to REST APIs which

    allows both humans and computers to discover and understand the capabilities
    of the service without access to source

    code, documentation, or through network traffic inspection. When properly
    defined via OpenAPI, a consumer can 

    understand and interact with the remote service with a minimal amount of
    implementation logic. Similar to what

    interfaces have done for lower-level programming, OpenAPI removes the
    guesswork in calling the service.
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
servers:
  - url: 'http://api.peud.io'
paths:
  /version:
    $ref: 'paths/version.yaml'
  '/users/{service}':
    $ref: 'paths/users@{service}.yaml'
components:
  schemas:
    plexUser:
      $ref: components/schemas/plexUser.yaml
    tautulliUser:
      $ref: components/schemas/tautulliUser.yaml
  examples:
    plexUser:
      value:
        $ref: components/examples/plexUser.yaml
  securitySchemes:
    plex_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
tags:
  - name: User
    description: Operations about user
  - name: user_model
    x-displayName: The Plex User Model
    description: |
      This is the Plex User model as it is given to us by Plex
      <SchemaDefinition schemaRef="#/components/schemas/plexUser" exampleRef="#/components/examples/plexUser" />
x-tagGroups:
  - name: General
    tags:
      - general
  - name: User Management
    tags:
      - user
  - name: Models
    tags:
      - user_model